/* Material UI Landing Page */

body {
	font-family: "robotoregular", Helvetica, Arial, sans-serif;
}

.container {
	width: 960px;
}

.footer {
	margin-top: 50px;
	min-height: 300px;
	background-color: #F5F5F5;
}

.footnote {
	padding: 30px 30px 30px 0;
}

.footnote p {
	font: 14px "robotoregular", Helvetica. Arial, sans-serif;
	color: #757575;
	line-height: 26px;
}

.footnote-block {
	background-color: #E91E63;
	min-height: 300px;
}

.title {
	margin: 20px 0;
	text-align: center;
}

.title .big {
	font: 900 90px "robotobold", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
	color: #C2185B;
}

.title .small {
	font: 200 20px "robotolight", Helvetica, Arial, sans-serif;
	color: #757575;
	margin-top: 20px;
	margin-bottom: 50px;
}

.title .small a {
	color: #4DB6AC;
	line-height: 30px;
}

.section-title {
	font: 700 36px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	letter-spacing: 1px;
	color: #004D40;
	border-top: 1px dashed #E0E0E0;
	padding-top: 50px;
}

.panel-title {
	font: 700 24px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin: 20px 0; 
	color: #00796B;
}

.demo-row {
	margin-bottom: 30px;
}